body {
  background-color: beige;
}

#txt_UI {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 50%;
  bottom: 50%;
  background: #FFFFFF;
  border: 2px solid black;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.75em;

}